<a href="https://colab.research.google.com/github/pinilDissanayaka/Telecom-Customer-Churn-prediction/blob/main/Scripts/%20Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install Catboost

Collecting Catboost
  Downloading catboost-1.2.2-cp310-cp310-manylinux2014_x86_64.whl (98.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 MB 5.4 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from Catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from Catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from Catboost) (1.23.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from Catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from Catboost) (1.11.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from Catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from Catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->Catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->Catboost) (2023.3.post1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (4.47.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->Catboost) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->Catboost) (8.2.3)
Installing collected packages: Catboost
Successfully installed Catboost-1.2.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report, roc_curve, auc, roc_auc_score

from statsmodels.stats.outliers_influence import variance_inflation_factor

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("/content/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
df.shape

(7043, 21)

This dataset contain 7043 rows and 21 columns.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
allColumns = df.columns
catColumns = df.select_dtypes(include=['object']).columns
numColumns = list(set(allColumns) - set(catColumns))



print(f"All columns : {list(allColumns)} \n")
print(f"Categorical columns :  {list(catColumns)} \n")
print(f"Numeric columns : {list(numColumns)} \n")

All columns : ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

Categorical columns :  ['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'TotalCharges', 'Churn']

Numeric columns : ['tenure', 'MonthlyCharges', 'SeniorCitizen']

In [8]:
df.duplicated().sum()

0

This dataset doesn't contain duplicate values.

In [9]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

This dataset doesn't contain any null values.

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [16]:
for column in allColumns:
  print(f"\n{column} column contain :\n")
  print(f"data type of {column} : {df[column].dtype}")
  print(f"{df[column].unique()}\n")
  print(f"{df[column].value_counts()}\n")
  print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------")

 customerID column contain :

data type of customerID : object
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: customerID, Length: 7043, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 gender column contain :

data type of gender : object
['Female' 'Male']

Male      3555
Female    3488
Name: gender, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 SeniorCitizen column contain :

data type of SeniorCitizen : int64
[0 1]

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 Partner column contain :

data type of Partner : object
['Yes' 'No']

No     3641
Yes    3402
Name: Partner, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 Dependents column contain :

data type of Dependents : object
['No' 'Yes']

No     4933
Yes    2110
Name: Dependents, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 tenure column contain :

data type of tenure : int64
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 PhoneService column contain :

data type of PhoneService : object
['No' 'Yes']

Yes    6361
No      682
Name: PhoneService, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 MultipleLines column contain :

data type of MultipleLines : object
['No phone service' 'No' 'Yes']

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 InternetService column contain :

data type of InternetService : object
['DSL' 'Fiber optic' 'No']

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 OnlineSecurity column contain :

data type of OnlineSecurity : object
['No' 'Yes' 'No internet service']

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 OnlineBackup column contain :

data type of OnlineBackup : object
['Yes' 'No' 'No internet service']

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 DeviceProtection column contain :

data type of DeviceProtection : object
['No' 'Yes' 'No internet service']

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 TechSupport column contain :

data type of TechSupport : object
['No' 'Yes' 'No internet service']

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 StreamingTV column contain :

data type of StreamingTV : object
['No' 'Yes' 'No internet service']

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 StreamingMovies column contain :

data type of StreamingMovies : object
['No' 'Yes' 'No internet service']

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 Contract column contain :

data type of Contract : object
['Month-to-month' 'One year' 'Two year']

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 PaperlessBilling column contain :

data type of PaperlessBilling : object
['Yes' 'No']

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 PaymentMethod column contain :

data type of PaymentMethod : object
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 MonthlyCharges column contain :

data type of MonthlyCharges : float64
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: MonthlyCharges, Length: 1585, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 TotalCharges column contain :

data type of TotalCharges : object
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']

          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

 Churn column contain :

data type of Churn : object
['No' 'Yes']

No     5174
Yes    1869
Name: Churn, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [18]:
df['SeniorCitizen'] = df['SeniorCitizen'].map({0 : 'No', 1 : 'Yes'})

In [19]:
for column in allColumns:
  print(f"\n{column} column contain :\n")
  print(f"data type of {column} : {df[column].dtype}")
  print(f"{df[column].unique()}\n")
  print(f"{df[column].value_counts()}\n")
  print("-------------------------------------------------------------------------------------------------------------------------------------------------------------------")

customerID column contain :

data type of customerID : object
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: customerID, Length: 7043, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

gender column contain :

data type of gender : object
['Female' 'Male']

Male      3555
Female    3488
Name: gender, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

SeniorCitizen column contain :

data type of SeniorCitizen : object
['No' 'Yes']

No     5901
Yes    1142
Name: SeniorCitizen, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

Partner column contain :

data type of Partner : object
['Yes' 'No']

No     3641
Yes    3402
Name: Partner, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

Dependents column contain :

data type of Dependents : object
['No' 'Yes']

No     4933
Yes    2110
Name: Dependents, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

tenure column contain :

data type of tenure : int64
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]

1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

PhoneService column contain :

data type of PhoneService : object
['No' 'Yes']

Yes    6361
No      682
Name: PhoneService, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

MultipleLines column contain :

data type of MultipleLines : object
['No phone service' 'No' 'Yes']

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

InternetService column contain :

data type of InternetService : object
['DSL' 'Fiber optic' 'No']

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

OnlineSecurity column contain :

data type of OnlineSecurity : object
['No' 'Yes' 'No internet service']

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

OnlineBackup column contain :

data type of OnlineBackup : object
['Yes' 'No' 'No internet service']

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

DeviceProtection column contain :

data type of DeviceProtection : object
['No' 'Yes' 'No internet service']

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

TechSupport column contain :

data type of TechSupport : object
['No' 'Yes' 'No internet service']

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

StreamingTV column contain :

data type of StreamingTV : object
['No' 'Yes' 'No internet service']

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

StreamingMovies column contain :

data type of StreamingMovies : object
['No' 'Yes' 'No internet service']

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

Contract column contain :

data type of Contract : object
['Month-to-month' 'One year' 'Two year']

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

PaperlessBilling column contain :

data type of PaperlessBilling : object
['Yes' 'No']

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

PaymentMethod column contain :

data type of PaymentMethod : object
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

MonthlyCharges column contain :

data type of MonthlyCharges : float64
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: MonthlyCharges, Length: 1585, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

TotalCharges column contain :

data type of TotalCharges : object
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']

          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------

Churn column contain :

data type of Churn : object
['No' 'Yes']

No     5174
Yes    1869
Name: Churn, dtype: int64

-------------------------------------------------------------------------------------------------------------------------------------------------------------------